*{
    margin:0;
    padding:0;
}
.Singup{
    background-image: linear-gradient(178.98deg,  rgba(16, 157, 166, 1),  rgba(23, 180, 181, 0.97), 
    rgba(47, 255, 230, 0.85));
    height: 1080px;
    position: relative;
    overflow: hidden; 
    display: flex;
}
.retang-1{
  background: #ffffff;
  border-radius: 75px;
  width: 1088px;
  height: 1080px;
  position: absolute;
  left: 938px;
  top: 0px;
}
.bem-vindo{
    color: #109ea6;
    text-align: left;
    font-family: "Roboto-Regular",sans-serif ;
    font-size:  57px;
    line-height: 64px;
    letter-spacing:  -0.25px;
    font-weight:  400;
    position: absolute;
    left: 1306px;
    top: 179px;
    width: 328px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-text-stroke: 2px #109ea6;
}
.faca-login{
    color: #6b6b6b;
    text-align: left;
    font-family:  "Roboto-Regular", sans-serif;
    font-size:  36px;
    line-height: 44px;
    font-weight: 400;
    position: absolute;
    left: 1196px;
    top: 237px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 
.Entrar{
    background: linear-gradient(180deg,rgba(240, 114, 74, 1) 0%,
        rgba(255, 163, 79, 1) 100%);;
    border-radius: 15px;
    width: 250px;
    height: 84px;
    position: absolute;
    left: 1322px;
    top: 794px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.emaild{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    left: 1180px;
    top: 480px;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 465px;
    border: 0;
}
.E-mail{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 423px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.password{
    color: #8b8b8b;
    text-align: left;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    left: 1174px;
    top: 619px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 603px;
    border: 0;
}
.Senha{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 560px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cadastre{
    text-decoration: none;
    color: #109ea6;
}
.msg-cadastre{
    color: #6b6b6b;
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 22px;
    line-height: 25px;
    position: absolute;
    left: 1283px;
    top: 885px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.msg-singup{
    color: #000000;
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 24px;
    line-height: 25px;
    font-weight: 500;
    position: absolute;
    left: 208px;
    top: 820px;
    width: 540px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-singup{
    width: 30.52%;
  height: 36.2%;
  position: absolute;
  right: 59.84%;
  left: 9.64%;
  bottom: 39.17%;
  top: 24.63%;
  overflow: hidden;
}
.spanerro{
    position: absolute;
    left: 1162px;
    top: 540px;
    color: red;
    font-size: 18px;
}
.spanerroS{
    position: absolute;
    left: 1162px;
    top: 675px;
    color: red;
    font-size: 18px;
}
.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
    font-family: "Roboto-Medium", sans-serif;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 4px; /* Garante que a mensagem apareça abaixo do campo */
  font-family: "Roboto-Medium", sans-serif;
}
body{
    background-color: white;
} 

  /* Estilo para o submenu dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 12px;
    position: absolute;
    left: 65px;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

  /* Mostrar o submenu quando o item de menu é hover */
.menu ul li:hover .dropdown-content {
    display: block;
}


.barra {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.466);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 120px;
    margin-left: 300px;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 230px;
}

.menu-list-direita {
    margin-right: 100px;
}

.menu-list li {
    margin-right: 30px;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu-list a {
    color: #328d84;
}


/*editando a barra, parte da ul*/
nav ul{
    width: 100%;
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.icon-perfil {
    font-size: 32px;
    margin-left: 20px;
    color: #109ea6;
}

.icon-lupa {
    font-size: 30px;
    color: #109ea6;
}




/*aplicando efeito hover na barra- passar o mouse e ficar laranja*/
nav a:hover{
    color:#FFA34F;
}


/*ajustando o tamanho dos ícones da barra*/
.icon {
    font-size: 30px; /* Ajuste conforme necessário */
}

.banner-main{
    position: relative;
}

.banner {
    width: 100%;
    position: absolute;
}

.inicia {
    position: absolute;
    left: 190px;
    top: 135px;
    font-size: 80px;
    color:  #328d84;
    font-family: sans-serif;
}

.inicia1 {
    position: absolute;
    left: 185px;
    top: 215px;
    font-size: 80px;
    color:  #328d84;
    font-family: sans-serif;
}

.inicia3 {
    position: absolute;
    left: 185px;
    top: 300px;
    font-size: 43px;
    color:  #328d84;
    font-family: sans-serif;
    text-align: justify;
}

.bnf1 {
    margin-top: 600px;
}




/* Texto1 - Bem Vindo ao Inovacare */



h3 {
    color: #ffffff;
    text-align: center;
    hyphens: auto;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* _____________________ */

/*Botão - Confira nossos serviços*/





/* _____________________ */


/*Texto2 - Benefícios*/

h2{
    color: #ff9330;
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.h-text2{
    color: #000000;
    text-align: center;
    hyphens: auto;
    font-size: 32px;
    margin-top: 15px;
}

/* ____________________ */

/*Ícones e texto - Benefícios*/

    /* width: 10px;
    height: 10px;
    background-image: url('/imagens/icon1-beneficios.webp');
    background-repeat: no-repeat; */



    .bnf2 {
        display: flex;
        justify-content: space-between;
        margin: 100px;
    }
    
    .conjunto-bnf {
        width: 260px; /* Aumenta a largura dos retângulos */
        padding: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 5px; /* Ajusta a margem entre os retângulos */
        text-align: center;
    }
    
    .beneficio-titulo {
        font-size: 22px;
        margin-bottom: 10px;
        color: #000000;
        margin-top: 15px;
    }
    
    .img-beneficios {
        width: 88px;
        margin-top: 15px;
    }


    p {
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000; 
    }




/* ____________________ */


/* Títulos - Carrossel 1 & 2 */
.gridm-carrossel{
    display:grid;
    grid-template-columns: 670px 670px;
    grid-template-rows: 20px 20px;
    column-gap: 500px;
    row-gap: 90px;  
}

.ttl-carrossel{
    text-align: center;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 50px;
    left: 600px;
}
.ttl-carrossel2{
    margin-top: 700px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}


/* ______________________ */

/* carrossel 1 - Redondo */

.swiper-width {
    margin: 0 auto; /* Centraliza o slider */
    width: 80%; /* Aumenta a largura do slider */
    overflow: hidden;
    text-align: center;
    padding: 50px 0;
}

.swiper-width .swiper-area {
    max-width: 100%; /* Ajusta a largura máxima */
}

.swiper-width .swiper-area .swiper-container {
    margin: 0 auto; /* Centraliza o container do swiper */
    width: 100%; /* Define a largura para 100% */
    position: relative;
}

.swiper-width .swiper-area .swiper-container .swiper-button-next {
    right: 5%; /* Ajusta a posição do botão próximo */
}

.swiper-width .swiper-area .swiper-container .swiper-button-prev {
    left: 5%; /* Ajusta a posição do botão anterior */
}

.swiper-width .swiper-area .swiper-container .swiper-slide {
    position: relative;
}

.swiper-width .swiper-area .swiper-container .swiper-slide span {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    background: transparent;
    font-size: 20px;
    padding: 20px 0px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img {
    width: 100%;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img a {
    display: block;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img a img {
    width: 100%;
}


/*Início da formatação das instruçoes de agndaento*/
 
/*\edição da imagem das instruções de agendamento*/
 
 
/* .instrucoes-agendamento{ */
 
    /* float: left;         Alinha a imagem à esquerda */
    /* margin-left: -700px;  Move a imagem 30px para a esquerda, ajuste conforme necessário */
    /* margin-top: -350px;   Move a imagem 20px para cima */
    /* margin-right: 20px;   */
   
   
/* } */
 
 
/*Edição dos textos e section geral das instruções de agendamento*/
/* .agendamento-home{
    text-align: center;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 
} */



/* __________________ */

/* Título - Onde atuamos? */
.dv-agnd{
    color: #ff9330;
    text-align: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}

.text-agnd{
    color: #000000;
    text-align: center;
    hyphens: auto;
    font-size: 30px;
    margin-top: 30px;
}
.pnt{
    width: 500px;
}
.text-selec{
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000; 
}
.text-date{
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 1px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000; 
}
.h-before.footer{
    color: #ff9330;
    text-align: center;
    font-size: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
.location{
    width: 60px;
}


.h-text3{
    color: #000000;
    text-align: center;
    hyphens: auto;
    font-size: 30px;
    margin-top: 30px;
}


/* _____________________ */




/* Footer */

.h-text1{
    text-align: left;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 120px; /* Defina a altura desejada */
    background-image: url('/imagens/block-nav.jpg');
    background-size: cover; /* Cobre a largura total*/
    background-position:unset; /* Posiciona no rodapé */
    background-repeat: no-repeat;
    background-color: #17B4B5;
}
.serv{
    position: absolute;
}
.text-serv{
    position: absolute;
    text-align: center;
    font-size: 38px;
    left: 230px;
    top: 88px;
    color: #615D67;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.voltar{
    top: 22px;
    position: absolute;
    left: 50px;
}
.cg{
    background: #fff;
    border-radius: 15px;
    width: 550px;
    height: 69px;
    position: absolute;
    left: 115px;
    margin-top: 200px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-align: center;
    line-height:  70px;
    color: #615D67;
}
.fisio{
    background: #fff;
    border-radius: 15px;
    width: 550px;
    height: 69px;
    position: absolute;
    left: 115px;
    margin-top: 300px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-align: center;
    line-height:  70px;
    color: #615D67;
}
.fono{
    background: #fff;
    border-radius: 15px;
    width: 550px;
    height: 69px;
    position: absolute;
    left: 115px;
    margin-top: 400px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-align: center;
    line-height:  70px;
    color: #615D67;
}
.nutri{
    background: #fff;
    border-radius: 15px;
    width: 550px;
    height: 69px;
    position: absolute;
    left: 115px;
    margin-top: 500px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-align: center;
    line-height:  70px;
    color: #615D67;
}
.psi{
    background: #fff;
    border-radius: 15px;
    width: 550px;
    height: 69px;
    position: absolute;
    left: 115px;
    margin-top: 600px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-align: center;
    line-height:  70px;
    color: #615D67;
}
.enfer{
    background: #fff;
    border-radius: 15px;
    width: 550px;
    height: 69px;
    position: absolute;
    left: 115px;
    margin-top: 700px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-align: center;
    line-height:  70px;
    color: #615D67;
}
.arrow-direita{
    position: absolute;
    left: 620px;
    top: 322px;
    width: 32px;
}
.arrow-direita2{
    position: absolute;
    left: 620px;
    margin-top: 320px;
    width: 32px;
}
.arrow-direita3{
    position: absolute;
    left: 620px;
    margin-top: 420px;
    width: 32px;
}
.arrow-direita4{
    position: absolute;
    left: 620px;
    margin-top: 520px;
    width: 32px;
}
.arrow-direita5{
    position: absolute;
    left: 620px;
    margin-top: 620px;
    width: 32px;
}
.arrow-direita6{
    position: absolute;
    left: 620px;
    margin-top: 720px;
    width: 32px;
}
.text-cg{
    position: absolute;
    text-align: center;
    font-size: 38px;
    left: 780px;
    margin-top: 65px;
    color: #ff9330;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.voltar2{
    margin-top: 22px;
    position: absolute;
    left: 50px;
}
.retangCg-1{
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    position: relative;
    left: 150px;
    margin-top: 150px;
    height: 150px;
    list-style: none;
    width: 1550px;
}
.dr{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #000000;
    left: 220px;
    top: 20px;
    position: absolute;
    list-style: none;
}
.dr1{
    width: 125px;
    height: 125px;
    position: relative;
    object-fit: cover;
    left: 20px;
    top: 13px;
    border-radius: 20px;
}
.crm-cg{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    left:220px;
    top: 95px;
    position: absolute;
    list-style: none;
}
.retangCg-2{
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    position: relative;
    left: 150px;
    margin-top: 50px;
    height: 150px;
    list-style: none;
    width: 1550px;
}
.dr2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #000000;
    left:220px;
    top: 25px;
    position: absolute;
    list-style: none;
}
.img-dr2{
    width: 125px;
    height: 125px;
    position: relative;
    object-fit: cover;
    left: 20px;
    top: 13px;
    border-radius: 20px;
}
.crm-cg2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    left:220px;
    top: 95px;
    position: absolute;
    list-style: none;
}
.retangCg-3{
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    position: relative;
    left: 150px;
    margin-top: 50px;
    height: 150px;
    list-style: none;
    width: 1550px;
}
.dr3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #000000;
    left:220px;
    top: 25px;
    position: absolute;
    list-style: none;
}
.img-dr3{
    width: 125px;
    height: 125px;
    position: relative;
    object-fit: cover;
    left: 20px;
    top: 13px;
    border-radius: 20px;
}
.crm-cg3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    left:220px;
    top: 95px;
    position: absolute;
    list-style: none;
}
.retangCg-4{
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    position: relative;
    left: 150px;
    margin-top: 50px;
    height: 150px;
    list-style: none;
    width: 1550px;
}
.dr4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #000000;
    left:220px;
    top: 25px;
    position: absolute;
    list-style: none;
}
.img-dr4{
    width: 125px;
    height: 125px;
    position: relative;
    object-fit: cover;
    left: 20px;
    top: 13px;
    border-radius: 20px;
}
.crm-cg4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    left:220px;
    top: 95px;
    position: absolute;
    list-style: none;
}
.retangCg-5{
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    position: relative;
    left: 150px;
    margin-top: 50px;
    height: 150px;
    list-style: none;
    width: 1550px;
}
.dr5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #000000;
    left:220px;
    top: 25px;
    position: absolute;
    list-style: none;
}
.img-dr5{
    width: 125px;
    height: 125px;
    position: relative;
    object-fit: cover;
    left: 20px;
    top: 13px;
    border-radius: 20px;
}
.crm-cg5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    left:220px;
    top: 95px;
    position: absolute;
    list-style: none;
}
.retangCg-6{
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    position: relative;
    left: 150px;
    margin-top: 50px;
    height: 150px;
    list-style: none;
    width: 1550px;
}
.dr6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #000000;
    left:220px;
    top: 25px;
    position: absolute;
    list-style: none;
}
.img-dr6{
    width: 125px;
    height: 125px;
    position: relative;
    object-fit: cover;
    left: 20px;
    top: 13px;
    border-radius: 20px;
}
.crm-cg6{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    left:220px;
    top: 95px;
    position: absolute;
    list-style: none;
}
@media (max-width: 925px){
    .retang-1{
        width: 90%;
        height:90%;
        justify-content: center;
        top: 5%;
        left: 5%;
    }
    .Entrar{
        left: 32%;
    }
    .msg-cadastre{
        left: 26%;
    }
    .msg-singup{
        top: 140%;
        font-size: 26px;
    }
    .logo-singup{
        height: auto;
        left: 35%;
        top: 20%;
        display: none;
    }
    .fundo-singup{
        height: 100%;
        width: 100%;
    }
    .bem-vindo{
        left: 32%;
        top: 13%;
    }
    .faca-login{
        font-size: 30px;
        left: 21%;
        top: 17%;
    }
    .E-mail{
        top: 30%;
        left: 20%;
    }
    .emaild{
        top: 35%;
        left: 20%;
        width: 60%;
    }
    .Senha{
        top: 50%;
        left: 20%;
    }
    .password{
        top: 55%;
        left: 20%;
        width: 60%;
    }
    .spanerro{
        font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 42%;
    }
    .spanerroS{
        font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 62%;
    }

}@media (max-width: 600px){
    .retang-1{
        width: 120%;
        height: 100%;
        top: 0%;
        left: 0%;
        border-radius: 0;
    }
    .Entrar{
        left: 30%;
    }
    .msg-cadastre{
        left: 23%;
    }
    .msg-singup{
        display: none;
        top: 140%;
        font-size: 26px;
    }
    .logo-singup{
        height: auto;
        left: 35%;
        top: 20%;
        display: none;
    }
    .fundo-singup{
        height: 120%;
        width: 100%;
    }
    .bem-vindo{
        font-size: 32;
        left: 33%;
        top: 13%;
    }
    .faca-login{
        font-size: 26px;
        left: 21%;
        top: 17%;
    }
    .E-mail{
        top: 30%;
        left: 20%;
    }
    .emaild{
        width: 80%;
        top: 35%;
        left: 20%;
    }
    .Senha{
        top: 50%;
        left: 20%;
    }
    .password{
        width: 80%;
        top: 55%;
        left: 20%;
    }
    .spanerro{
        font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 42%;
    }
    .spanerroS{
        font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 62%;
    }
}
