*{
    margin:0;
    padding: 0;
}



.formcad-prof {
    background-color:#c5dfdf;
    border: 3px solid transparent;
    border-radius: 3px;
    padding: 50px;
    width: 800vh auto;
    max-width: 400px;
    margin: 5vh auto;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;


}

#mainform{/*está sendo prejudicado pelo main do cssmenu2 e pelo height de lá*/
    text-align: center;
    margin: 20px 0 30px 0;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

}

/*#formcad{ indiferente???
    display:block;
}*/

.formcad-prof label{
    width: 100%;
    display: block;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}



.formcad-prof input, select{
    width: 100%;
    display: block;
  
    height: 35px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-bottom: 2px;
    margin: 0 auto;

}



.formcad-prof input{
    border: 1px solid #ddd;
    transition: all 0.5s ease;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;


}

.formcad-prof input:focus {
    border-color: #f5a152;
    box-shadow: 0 0 0 3px  #ddd; /* Sombra azul leve */
    outline: none;
}

#submitformcad{
    background-color: #f5a152;
    color: white;
    font-size: 20px;
    height: 50px;
}

input [type="submit"]{
    cursor: pointer;
}



@media (min-width: 769px){

    body{
        background-image: url(imagens/fundo_prof_cad.jpeg);
        background-repeat: no-repeat;
        background-position: center center; /* Centraliza a imagem */
        background-size: cover;
    }

    .formcad-prof{
        background-color:#c5dfdf;
        padding: 90px;
        margin: auto;
        width: 700px;
        max-width: 700px;
        margin: 100px auto;
        display:block;
        justify-content: center;
        align-items: right;
        /*top: 10vh;*/
        width: 50% auto;
        
        
        /*top: ; /* Alinha abaixo da navbar */
        /*height: calc(1 - 80px); /* Altura total menos navbar */
        /* display: flex;
        min-height: 100vh;*/
        


    }

    .formcad-prof label{
        width: 100%;
        display: block;
        padding: 3px;
        font-family: Arial, Helvetica, sans-serif;
        justify-content: center;
        align-items: center;
        
    }


}


@media(min-width: 800px){

    body{
        background-image: url(../imagem/WhatsApp\ Image\ 2025-05-20\ at\ 20.05.42.jpeg);
        background-repeat: no-repeat;
        background-position: center center; /* Centraliza a imagem */
        background-size: cover;
    }
    .formcad-prof{
        background-color:#c5dfdf;
        padding: 90px;
        margin: auto;
        width: 750px;
        max-width: 750px;
        margin: 100px auto;
        display:block;
        justify-content: center;
        align-items: right;
        /*top: 10vh;*/
        width: 50% auto;
        left:0;
        
    }
}




@media(min-width: 900px){

    body{
        background-image: url(../imagem/WhatsApp\ Image\ 2025-05-20\ at\ 20.05.42.jpeg);
    }

    .formcad-prof{
        background-color:#c5dfdf;
        padding: 90px;
        margin: auto;
        width: 800px;
        max-width: 5000px;
        margin: 100px auto;
        display:block;
        justify-content: center;
        align-items: right;
        /*top: 10vh;*/
        width: 50% auto;
        left:0;
        
    }
}









