    /* CADASTRO DADOS */
.emaild{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    left: 1180px;
    top: 395px;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 395px;
    border: 0;
}
.Email{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 360px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.password{
    color: #8b8b8b;
    text-align: left;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    left: 1174px;
    top: 619px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 603px;
    border: 0;
}
.Senha{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 560px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.repemaild{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 515px;
    border: 0;
}
.repEmail{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 480px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Senhaa{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 605px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.senhad{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 270px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 640px;
    border: 0;
}
.repSenha{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1475px;
    top: 605px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.repsenhad{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 270px;
    height: 69px;
    position: absolute;
    left: 1460px;
    top: 640px;
    border: 0;
}

.spanerroCS{
    width: 100%;
    position: absolute;
    left: 1475px;
    top: 715px;
    color: red;
    font-size: 18px;
}
.spanerroCE{
    width: 100%;
    position: absolute;
    left: 1165px;
    top: 585px;
    color: red;
    font-size: 18px;
}
.spanerroE{
    width: 100%;
    position: absolute;
    left: 1165px;
    top: 465px;
    color: red;
    font-size: 18px;
}
@media (max-width: 925px){
.bem-vindo1{
    left: 31%;
    top: 13%;
}
.faca-login1{
    left: 23%;
    top: 17%;
    font-size: 30px;
}
.Nome{
    top: 25%;
    left: 21%;
}
.nomed{
    top: 30%;
    left: 20%;
    width: 60%;
}
.spanerroN{
    width: 100%;
    font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 37%;
}
.Cpf{
    top: 40%;
    left: 21%;
}
.cpfd{
    top: 45%;
    left: 20%;
    width: 60%;
}
.spanerroC{
    width: 100%;
    font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 52%;
}
.Data{
    top: 55%;
    left: 21%;
}
.datad{
    top: 60%;
    left: 20%;
    width: 60%;
}
.spanerroD{
    width: 100%;
    font-size: 24px;
    font-family:"Roboto-Medium", sans-serif;
    left: 21%;
    top: 67%;
}
.Endereco{
    top: 25%;
    left: 21%;
}
.enderecod{
    top: 30%;
    left: 20%;
    width: 63%;
}
.Bairro{
    top: 41%;
    left: 21%;
}
.bairrod{
    top: 45%;
    left: 20%;
    width: 30%;
}
.Cidade{
    top: 41%;
    left: 55%;
}
.cidaded{
    top: 45%;
    left: 54%;
    width: 30%;
}
.spanerroCI{
    width: 100%;
    font-size: 24px;
    font-family:"Roboto-Medium", sans-serif;
    left: 55%;
    top: 52%;
}
.Cep{
    top: 55%;
    left: 21%;
}
.cepd{
    top: 59%;
    left: 21%;
    width: 30%;
}
.Uf{
    top: 55%;
    left: 55%;
}
.ufd{
    top: 59%;
    left: 54%;
    width: 30%;
}
.spanerroU{
    width: 100%;
    font-size: 24px;
    font-family:"Roboto-Medium", sans-serif;
    left: 55%;
    top: 67%;
}
.Email{
    top: 25%;
    left: 21%;
}
.emaild{
    top: 30%;
    left: 20%;
}
.spanerroE{
    width: 100%;
    font-size: 24px;
        font-family:"Roboto-Medium", sans-serif;
        left: 21%;
        top: 37%;
}
.repEmail{
    top: 40%;
    left: 21%;
}
.repemaild{
    top: 45%;
    left: 20%;
}
.spanerroCE{
    width: 100%;
    font-size: 24px;
    font-family:"Roboto-Medium", sans-serif;
    left: 21%;
    top: 52%;
}
.Senhaa{
    top: 55%;
    left: 21%;
}
.senhad{
    top: 60%;
    left: 20%;
}
.repSenha{
    top: 55%;
    left: 54%;
}
.repsenhad{
    top: 60%;
    left: 52%;
}
.spanerroCS{
    width: 100%;
    font-size: 24px;
    font-family:"Roboto-Medium", sans-serif;
    left: 53%;
    top: 67%;
}
.retang-4{
    background: #ffffff;
    border-radius: 75px;
    width: 1088px;
    height: 1080px;
    position: absolute;
    left: 938px;
    top: 0px;
}
@media (max-width: 925px){
    .retang-4{
        width: 90%;
        height:90%;
        justify-content: center;
        top: 5%;
        left: 5%;
    }
}
@media (max-width: 600px){
    .retang-4{
        width: 120%;
        height: 105%;
        top: 0%;
        left: 0%;
        border-radius: 0;
    }
}
}@media (max-width: 600px){
    .bem-vindo1{
        left: 38%;
        top: 19%;
        font-size: 42px;
    }
    .fundo-singup{
        width: auto;
        height: auto;
    }
    .faca-login1{
        left: 25%;
        top: 23%;
        font-size: 27px;
    }
    .Entrar{
        top: 88%;
        left: 40%;
    }
    .msg-cadastre{
        left: 33%;
        top: 97%;
    }
    .fundo-singup{
        width: 116%;
        height: 122%;
    }
    .retang-1{
        top: 15%;
        left: 20%;
    }
    .Nome{
        top: 35%;
        left: 25%;
    }
    .nomed{
        top: 40%;
        left: 24%;
        width: 70%;
    }
    .spanerroN{
        
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 25%;
        top: 42%;
    }
    .Cpf{
        top: 50%;
        left: 25%;
    }
    .cpfd{
        top: 55%;
        left: 24%;
        width: 70%;
    }
    .spanerroC{
        
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 25%;
        top: 57%;
    }
    .Data{
        top: 65%;
        left: 25%;
    }
    .datad{
        top: 70%;
        left: 24%;
        width: 70%;
    }
    .spanerroD{
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 25%;
        top: 77%;
    }
    .Endereco{
        top: 30%;
        left: 24%;
    }
    .enderecod{
        top: 35%;
        left: 24%;
        width: 70%;
    }
    .Bairro{
        top: 45%;
        left: 24%;
    }
    .bairrod{
        top: 50%;
        left: 24%;
        width: 30%;
    }
    .Cidade{
        top: 45%;
        left: 64%;
    }
    .cidaded{
        top: 50%;
        left: 64%;
        width: 30%;
    }
    .spanerroCI{
        
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 65%;
        top: 57%;
    }
    .Cep{
        top: 60%;
        left: 24%;
    }
    .cepd{
        top: 65%;
        left: 24%;
        width: 30%;
    }
    .Uf{
        top: 60%;
        left: 64%;
    }
    .ufd{
        top: 65%;
        left: 64%;
        width: 30%;
    }
    .spanerroU{
        
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 65%;
        top: 72%;
    }
    .Email{
        top: 35%;
        left: 24%;
        
    }
    .emaild{
        top: 40%;
        left: 24%;
        width: 70%;
    }
    .spanerroE{
        
        font-size: 22px;
            font-family:"Roboto-Medium", sans-serif;
            left: 24%;
            top: 47%;
    }
    .repEmail{
        top: 50%;
        left: 24%;
    }
    .repemaild{
        top: 55%;
        left: 24%;
        width: 70%;
    }
    .spanerroCE{
        
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 24%;
        top: 62%;
    }
    .Senhaa{
        top: 65%;
        left: 24%;
    }
    .senhad{
        top: 70%;
        left: 24%;
        width: 30%;
    }
    .repSenha{
        top: 65%;
        left: 60%;
    }
    .repsenhad{
        top: 70%;
        left: 60%;
        width: 30%;
    }
    .spanerroCS{
        
        font-size: 22px;
        font-family:"Roboto-Medium", sans-serif;
        left: 57%;
        top: 77%;
    }
}
