    /* CADASTRO LOCALIZAÇÃO */
.enderecod{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 369px;
    border: 0;
}
.Endereco{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 330px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#loginForm #endereco {
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1154px;
    top: 365px;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    border: 0;
}
.bairrod{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 505px;
    border: 0;
}
.Bairro{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 470px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cidaded{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1460px;
    top: 505px;
    border: 0;
}
.Cidade{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1480px;
    top: 470px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Cep{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 605px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cepd{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 640px;
    border: 0;
}
.ufd{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1460px;
    top: 640px;
    border: 0;
}
.Uf{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1480px;
    top: 605px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.spanerroCI{
    position: absolute;
    left: 1475px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroU{
    position: absolute;
    left: 1475px;
    top: 715px;
    color: red;
    font-size: 18px;
}
.retang-3{
    background: #ffffff;
    border-radius: 75px;
    width: 1088px;
    height: 1080px;
    position: absolute;
    left: 938px;
    top: 0px;
}

.retang-3{
    background: #ffffff;
    border-radius: 75px;
    width: 1088px;
    height: 1080px;
    position: absolute;
    left: 938px;
    top: 0px;
}
.bem-vindo1 {
    color: #109ea6;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.25px;
    font-weight: 400;
    position: absolute;
    left: 1255px;
    top: 179px;
    width: 366px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-text-stroke: 2px #109ea6;
}
.faca-login1{
    color: #6b6b6b;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 36px;
    line-height: 44px;
    width: 525px;
    font-weight: 400;
    position: absolute;
    left: 1173px;
    top: 237px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cadastre1{
    text-decoration: none;
    color: #109ea6;
    position: relative;
    left: 55%;
}

@media (max-width: 925px){
    .retang-3{
        width: 90%;
        height:90%;
        justify-content: center;
        top: 5%;
        left: 5%;
    }
}
@media (max-width: 600px){
    .retang-3{
        width: 120%;
        height: 105%;
        top: 0%;
        left: 0%;
        border-radius: 0;
    }
}

