/* CADASTRO LOCALIZAÇÃO */
.enderecod{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 430px;
    border: 0;
}
.Endereco{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 390px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#loginForm #endereco {
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    left: 1154px;
    top: 640px;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    border: 0;
}
.bairrod{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 545px;
    border: 0;
}
.Bairro{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 510px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cidaded{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1460px;
    top: 545px;
    border: 0;
}
.Cidade{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1480px;
    top: 510px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Cep{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 265px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cepd{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 305px;
    border: 0;
}
.ufd{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1460px;
    top: 305px;
    border: 0;
}
.Uf{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1480px;
    top: 265px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Numero{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 620px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.numerod{
        color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 660px;
    border: 0;
}
.complemento{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1480px;
    top: 620px;
    width: 306px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.complementod{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    padding-left: 0.65rem;
    border-radius: 15px;
    width: 260px;
    height: 69px;
    position: absolute;
    left: 1460px;
    top: 660px;
    border: 0;
}
.spanerroCI{
    position: absolute;
    left: 1475px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroU{
    position: absolute;
    left: 1475px;
    top: 715px;
    color: red;
    font-size: 18px;
}
.spanerroD{
    position: absolute;
    left: 1175px;
    top: 715px;
    color: red;
    font-size: 18px;
}
.spanerroC{
    position: absolute;
    left: 1175px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroN{
    position: absolute;
    left: 1175px;
    top: 442px;
    color: red;
    font-size: 18px;
}

@media (max-width: 925px){
    .retang-3{
        width: 90%;
        height:90%;
        justify-content: center;
        top: 5%;
        left: 5%;
    }
}
@media (max-width: 600px){
    .retang-3{
        width: 120%;
        height: 105%;
        top: 0%;
        left: 0%;
        border-radius: 0;
    }
}

