*{
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

  



.voltar {
    margin-left: 60px;
    margin-top: 60px;
}

.botao-voltar {
    width: 50px;
    cursor: pointer;
}




.ttl-cg {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    

}

.ttl-cg h3 {
    font-size: 55px;
    color: #003f5c;
    font-family: sans-serif;
}


a {
    text-decoration: none;
}

.retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.small-rectangle {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    width: 1300px;
    height: 150px;
    border-radius: 16px;
}

.perfil1 {
    width: 110px;
    margin-right: 10px;
    margin-left: 20px;
}

.infos {
    margin-left: 15px;
}

.infos p {
    margin-bottom: 10px; /* Ajuste o valor conforme necessário */
}

.infos p:last-child {
    margin-bottom: 0; /* Remove o espaço extra após o último parágrafo */
}

.rectangle-text {
    font-size: 18px;
}

.idnt {
    font-size: 15px;
}

.nota {
    display: flex;
    align-items: center;
}

.nota-img {
    width: 15px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-left: 5px; /* Espaçamento entre a nota e a imagem */
    margin-bottom: 3px;
}



.barrinha {
    background-color: black;
    width: 250px;
    height: 0.5px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 999;
}
 
.large-rectangle {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 850px;
    height: 600px;
    overflow-y: auto;
    display: flex;
    gap: 20px;
    font-family: sans-serif;
}
 
.coluna-esq, .coluna-dir {
    flex: 1;
    padding: 20px;
}
 
.coluna-esq {
    border-right: 1px solid #ddd;
}
 
.perfil2 {
    width: 150px;
    margin-bottom: 20px;
}
 
.barrinha {
    width: 50px;
    height: 2px;
    background-color: #ff7f50;
    margin: 10px 0;
}
 
.coluna-esq p {
    font-size: 16px;
    line-height: 1.5;
}

.coluna-esq h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #003f5c;
}

.coluna-esq, .coluna-dir {
    flex: 1;
    min-width: 200px;
}

.coluna-dir {
    margin-top:20%;
}

.slider {
    display: flex;
    align-items: center;
}

.slider-btn {
    background-color: #109ea6;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}


 
.slider-btn:disabled {
    background-color: #FFA34F;
    cursor: not-allowed;
}

#sliderTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 15px;
}
 
#sliderTable th,
#sliderTable td {
    padding: 10px;
    border: 1px solid #ffffff;
    font-family: sans-serif;
    border-radius: 5px;
}
 
#sliderTable th {
    background-color: #109ea6;
    color: white;
}

#sliderTable td {
    background-color: #f29434;
    cursor: pointer;
}
 
#sliderTable tr:nth-child(even) {
    background-color: #f8f8f8;
}
 
.slider-btn {
    background-color: #109ea6;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
 

 
.submit-btn {
    background-color:#f29434;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
 
.submit-btn:hover {
    background-color: #f29434;
}


#sliderTable td.selected {
    background-color: #FFA34F;
    color: white;
}

.tabela-tablet {
    display: none;
}

@media screen and (max-width:768px) {
    
    .retangulo{
        width: 90%;
    } 

    .perfis {
       flex-direction: column;
       align-items: center;
       display: flex;
    }

    .large-rectangle {
        flex-direction: column;        
    }

    .coluna-dir {
        margin: 0;
    }

    .coluna-esq {
        border: none;
    }
}  
    
