*{
    margin:0;
    padding:0;
}

body{
    background-color: white;
    font-family: sans-serif;
} 

  

.voltar {
    margin-left: 60px;
    margin-top: 60px;
}

.botao-voltar {
    width: 50px;
    cursor: pointer;
}


.ttl-consultas {
    text-align: center;
}

.ttl-consultas h3 {
    font-size: 45px;
    font-family: sans-serif;
    color: #f29434;
}



main {
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    min-height: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;
    margin-top: 100px;
}

.tabs {
    position: absolute;
    top: 20px;
    left: 35px;
}

.tab {
    margin-right: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.tab.active-tab {
    color: #073470;
    text-decoration: underline;
}

.retangulo-container {
    display: none;
    margin-top: 60px;
}


.retang1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.retangCg {
    box-sizing: border-box;
    background: #ebebeb;
    border-radius: 16px;
    margin-top: 20px;
    width: 80%;
    cursor: pointer;
    padding: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.content {
    display: flex;
    align-items: center; /* Alinha a imagem e os textos ao centro verticalmente */
}

.perfil1 {
    width: 110px;
    height: 110px;
    margin-right: 20px; /* Espaçamento entre a imagem e os textos */
}

.text-container {
    display: flex;
    flex-direction: column; /* Empilha os textos verticalmente */
}

.text-container p {
    margin-bottom: 10px;
}

.expandable-content {
    display: none;
    padding: 20px;
    background: #ebebeb;
    border-top: 1px solid #ddd;
}

.expandable-content h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #003f5c;
}

.retangCg.expanded .expandable-content {
    display: block;
    margin-top: 20px;
}

.retangCg.expanded {
    height: auto;
}


.nota-img {
    width: 15px;
}


.info-sections {
    display: flex;
    justify-content: space-between;
}

.info-coluna-esq {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-img {
    width: 20px;
    object-fit: cover;
}

.avalia-img {
    width: 15px;
    object-fit: cover;
    margin-bottom: 4px;
    margin-left: -5px;
}

.info-coluna-dir {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.cancelar-consulta {
    padding: 10px 20px;
    background-color: #f29434;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.cancelar-consulta:hover {
    background-color: #ff7b00;
}

.ttl-nota {
    color: #003f5c;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

@media screen and (max-width:768px) {
    .container {
        width: 95%;
    }

    .retangCg {
        width: 100%;
    }
}

@media screen and (max-width:460px) {
    
    .info-coluna-dir {
        flex-wrap: wrap;
    }
}