*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
 
body{
    font-family: "Roboto-Regular", sans-serif;
}
 
 
/*mensagens de erro da validação*/
 
/*inicial*/
/*.spanerroN{
    position: absolute;
    left: 1162px;
    top: 440px;
    color: red;
    font-size: 18px;
}
.spanerroC{
    position: absolute;
    left: 1162px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroD{
    position: absolute;
    left: 1162px;
    top: 715px;
    color: red;
    font-size: 18px;
}
 
/*local*/
/*.spanerroCIL{
    position: absolute;
    left: 1475px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroUL{
    position: absolute;
    left: 1475px;
    top: 715px;
    color: red;
    font-size: 18px;
}
.spanerroDL{
    position: absolute;
    left: 1175px;
    top: 715px;
    color: red;
    font-size: 18px;
}
.spanerroCL{
    position: absolute;
    left: 1175px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroNL{
    position: absolute;
    left: 1175px;
    top: 442px;
    color: red;
    font-size: 18px;
}
 
/*dados*/
 
/*.spanerroND{
    position: absolute;
    left: 1162px;
    top: 440px;
    color: red;
    font-size: 18px;
}
.spanerroCD{
    position: absolute;
    left: 1162px;
    top: 580px;
    color: red;
    font-size: 18px;
}
.spanerroDD{
    position: absolute;
    left: 1162px;
    top: 715px;
    color: red;
    font-size: 18px;
}
/*Botão de voltar presente no cadastro_inicial*/
 
.back-arrow{
    color:chocolate;
    font-size:21px;
}
.alinha{
    margin-right: auto;
    margin-left: 10%;
 
}
/*Fim do voltar*/
 
 
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(231, 227, 227, 0.5);
}
 
.content{
    border-radius: 20px ;
    background-color: white;
    width: 960px;
    height: 50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
   
 
}
 
.content::before{
    content:"";
    position: absolute;
    background-color: #58af9b;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px ;
    left:0;
   
 
}
 
.content.first-content{
    display:flex;
   
   
}
 
.first-content .second-column{
    z-index: 11;
}
 
.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
 
}
 
.title-primary{/*título das colunas da direita*/
    color:#fff;
}
 
.title-second{/*título das colunas da direita ou dos forms*/
    color:#58af9b;
}
 
/*Parágrafos descritivos ou subtítulos*/
.descricao{
    font-size: 14px;
    font-weight: 300;
    /*color: #fff;*/
    line-height: 30px;
 
}
 
.descricao-primary{
    color: #fff;
}
 
.descricao-second{
    color:#7f8c8d;
}
/*fim da descrição*/
 
 
/*Estilo dos botões*/
.btn{
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    /*border-width: 0px;*/
    border: none;
    margin-top: 1rem;
    text-align: center;
}
 
.btn-primeira{
    background-color:transparent;
    border: 1px solid #fff;
    transition: background-color 1s;
     
 
}
 
/*Botão de voltar com o id voltar
Botão específico para substituir a seta de voltar nas páginas
Lado esquerdo das páginas*/
#voltar{
    background-color: #fff;
    border: 1px solid #fff;
    color: black;
    transition: background-color 1s;
}
 
#voltar:hover{
    background-color: #58af9b;
    color:#fff;
 
}
/*Fim do estilo de voltar*/
 
 
.btn-primeira:hover{
    background-color: #fff;
    color:#58af9b;
 
}
 
.btn-segunda{
    background-color: #58af9b;
    border: 1px solid #58af9b;
    transition: background-color 1s;
 
}
 
.btn-segunda:hover{
    background-color: #fff;
    border: 1px solid #58af9b;
    color: #58af9b;
}
/*Fim do estilo de voltar*/
 
 
 
/*Colunas do HTML*/
.first-column{
    text-align: center;
    width: 40%;
    z-index: 10;
}
 
.second-column{
    width: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
   
}
/*Fim das colunas HTML*/
 
 
/*ícones de redes sociais para login*/
.social-media{
    margin: 1vh;
}
 
 
.lista.social-media{
    display:flex;
    list-style-type: none;
   
}
 
 
/*Criar a classe link social media e fazer a estilização necessária hover, background e etc*/
 
 
 
.item-social-media {
    border:1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
 
.item-social-media a{
    color: #95a5a6;
   
   
}
 
.item-social-media:not(first-child){
    margin-left: 10px;
}
 
/*Fim do estilo das redes sociais para login*/
 
/*EDIÇÕES DO FORMULÁRIO*/
 
 
/*Form geral*/
form{
    display:flex;
    flex-direction: column;
    width: 55%;
   
}
 
.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    border-radius: 10px 10px ;
   
   
}
 
/*Label input*/
 
.label-input{
    background-color:#ecf0f1;
    display:flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px 10px ;
 
}
 
/*Section do cadastro_dados para manter o email um embaixo do outro*/
.emailput{
    margin-bottom: 10px;
}
 
 
/*Estilização do label para indicação da data de nascimento do usuário*/
.date-container {
    width: 100%;
    margin-bottom: 20px;
}
 
.date-label {
    color: #7f8c8d;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 3px;
}
 
 
/*input[type="date"]::before {
    content: attr(placeholder);
    color: #7f8c8d;
    margin-right: 0.5em;
}
 
input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}*/
 
 
 
.icon-modify{
    color: #7f8c8d;
    padding: 6px;
}
 
 
 
 
 
 
/*Second content
Oculto antes de ser acionada a transição*/
 
.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
 
/*Estilização da senha*/
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}
 
 
 
.entrar-js .first-content .first-column {
    z-index: -1;
}
 
.entrar-js .second-content .second-column {
    z-index: 11;
}
.entrar-js .second-content .first-column {
    z-index: 13;
}
 
.entrar-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.2s; /*MODIFIQUEI DE 3s PARA 1.2s*/
 
    z-index: 12;
}
 
.cad-js .content::before {
    animation: slideout 1.2s; /*MODIFIQUEI DE 3s PARA 1.2s*/
 
    z-index: 12;
}
 
.cad-js .second-content .first-column,
.cad-js .second-content .second-column {
    z-index: -1;
}
 
.cad-js .first-content .second-column {
    z-index: 11;
}
 
.cad-js .first-content .first-column {
    z-index: 13;    
}
 
 
/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.entrar-js .first-content .second-column {
 
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}
 
.cad-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}
 
/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/
 
@keyframes deslocamentoEsq {
 
    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }
 
    25% {
        left: -80px;
        opacity: .5;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }
 
    50% {
        left: -100px;
        opacity: .2;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }
 
    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}
 
 
@keyframes deslocamentoDir {
 
    from {
        left: 0;
        z-index: 12;
    }
 
    25% {
        left: 80px;
   
    }
 
    50% {
        left: 100px;
       
    }
 
    to {
        left: 110px;
        z-index: -1;
    }
}
 
 
/*ANIMAÇÃO CSS*/
 
@keyframes slidein {
 
    from {
        left: 0;
        width: 40%;
    }
 
    25% {
        left: 5%;
        width: 50%;
    }
 
    50% {
        left: 25%;
        width: 60%;
    }
 
    75% {
        left: 45%;
        width: 50%;
    }
 
    to {
        left: 60%;
        width: 40%;
    }
}
 
@keyframes slideout {
 
    from {
        left: 60%;
        width: 40%;
    }
 
    25% {
        left: 45%;
        width: 50%;
    }
 
    50% {
        left: 25%;
        width: 60%;
    }
 
    75% {
        left: 5%;
        width: 50%;
    }
 
    to {
        left: 0;
        width: 40%;
    }
}
 
/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .content {
        width: 100%;
        height: 100%;
    }
 
    .content::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .first-content, .second-content {
        flex-direction: column;
        justify-content: space-around;
    }
 
    .first-column, .second-column {
        width: 100%;
    }
   
    .entrar-js .content::before {
        top: 60%;
        left: 0;
        border-radius: 0;
 
    }
 
    .form {
        width: 90%;
    }
   
    /* ANIMAÇÃO MOBILE CSS*/
 
    @keyframes deslocamentoEsq {
 
        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
   
        25% {
            top: -80px;
            opacity: .5;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
   
        50% {
            top: -100px;
            opacity: .2;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
   
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
   
   
    @keyframes deslocamentoDir {
   
        from {
            top: 0;
            z-index: 12;
        }
   
        25% {
            top: 80px;
            /* z-index: 12;  NÃO HÁ NECESSIDADE*/
        }
   
        50% {
            top: 100px;
            /* z-index: 12; NÃO HÁ NECESSIDADE*/
            /* background-color: yellow;  Exemplo que dei no vídeo*/
        }
   
        to {
            top: 110px;
            z-index: -1;
        }
    }
   
   
   
    @keyframes slidein {
   
        from {
            top: 0;
            height: 40%;
        }
   
        25% {
            top: 5%;
            height: 50%;
        }
   
        50% {
            top: 25%;
            height: 60%;
        }
   
        75% {
            top: 45%;
            height: 50%;
        }
   
        to {
            top: 60%;
            height: 40%;
        }
    }
   
    @keyframes slideout {
   
        from {
            top: 60%;
            height: 40%;
        }
   
        25% {
            top: 45%;
            height: 50%;
        }
   
        50% {
            top: 25%;
            height: 60%;
        }
   
        75% {
            top: 5%;
            height: 50%;
        }
   
        to {
            top: 0;
            height: 40%;
        }
    }
   
}
 
@media screen and (max-width: 740px) {
    .form {
        width: 50%;
    }
}
 
@media screen and (max-width: 425px) {
    .form {
        width: 100%;
    }
}




/*SELECT PROFISISONAL*/

/* Adicione isso ao seu arquivo CSS */

/* Estilo para o select */

#titulo{
    text-transform: none;

}

#idespecialidadeprof {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 14px;
    color: #7f8c8d;
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%237f8c8d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
}

/* Estilo para o foco do select */
#idespecialidadeprof:focus {
    outline: none;
    box-shadow: 0 0 0 2px #58af9b;
}

/* Estilo para as opções */
#idespecialidadeprof option {
    padding: 10px;
    background-color: white;
    color: #333;
}

/* Container do select para adicionar ícone */
.select-container {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 10px;
    padding-right: 10px;
}

/* Ícone para o select */
.select-container i {
    color: #7f8c8d;
    padding: 0 10px;
}



/*Campos ocultos*/

.registro-container {
    width: 100%;
    margin-top: 8px;
    transition: all 0.3s ease;
}

/* Estilo para os ícones dos campos de registro */
.registro-container .fa-id-card {
    color: #7f8c8d;
    padding: 0 10px;
}



/*Campo senha progresso*/

/* Estilo para o indicador de força da senha */


.text2{

    display: flex;
    align-items: right;
    color:#58af9b;
    

}

/*#mensagem{
    display: flex;  
    align-items: right;
    justify-content: right;
    justify-content: center;
    margin-left: 20vh;
    padding-top: 0;


}*/




.indicador{
    /*background-color: #bdc3c7;*/
    /*border-radius: 10px ;*/
    /*width:50%;*/
    /*height: 2%;*/
    display:none;
    margin-top: 2px;
   
    
}

.indicador.active{
    display:block;


}

.indicador .icon-text{
    display:flex;
    align-items: center ;
    margin-top: 5px;
}

.icon-text .error_icon{
    margin-right:10px;


}

.icon-text .text{
    font-size:13px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: arial;

}