/* Footer */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: whitesmoke;
    padding: 20px;  
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    font-family: sans-serif;
}



.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    
}

.footer-logo-desktop {
    display: block;
    width: 100px;
}

.footer-logo-mobile {
    display: none;
    
}



.footer-comentario {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    width: 400px;
    text-align: justify;
}



.ttl-links {
    display: none;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #20b3b2;
    font-size: 14px;
}


.ttl-contato {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
}

.nmr-contato {
    font-size: 16px;
    color: #333;
}




#sidebar {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 100px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
    width: 150px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1000;
}

#sidebar a {
    display: block;
    padding: 10px 20px;
    color: #20b3b2;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    font-family: sans-serif;
}

#sidebar a:hover {
    background-color: #f4a456;
    color: white;
    border-radius: 8px;
}


@media only screen and (max-width: 768px) {

    .footer {
        flex-direction: column;
    }
    
    .footer-logo-desktop {
        display: none;
    }
    
    .footer-logo-mobile {
        display: block;
        width: 200px;
    }

    .footer-comentario {
        display: none;
    }
    
    .footer-links {
        margin-top: 50px;
    }

    .ttl-links {
        display: block;
        margin-bottom: 15px;
    }
    
  }

  