/*tirar a formatação padrão*/
*{
    margin:0;
    padding:0;
}




.entrar {
    padding: 15px 30px;
    background-color:#f29434;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.entrar:hover {
   background-color: #ff7b00;
}


