/*tirar a formatação padrão*/
*{
    margin:0;
    padding:0;
}


body{
    background-color: white;
} 

  
  /* Estilo para o submenu dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 12px;
    position: absolute;
    left: 65px;
  }

  
  
  .dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  /* Mostrar o submenu quando o item de menu é hover */
  .menu ul li:hover .dropdown-content {
    display: block;
  }
  

.barra {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.466);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 120px;
    margin-left: 300px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: 230px;
}

.menu-list-direita {
    margin-right: 100px;
}

.menu-list li {
    margin-right: 30px;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu-list a {
    color: #20b3b2;
}


/*editando a barra, parte da ul*/
nav ul{
    width: 100%;
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.entrar {
    padding: 15px 30px;
    background-color:#f29434;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.entrar:hover {
   background-color: #ff7b00;
}


.icon-lupa {
    font-size: 30px;
    color: #20b3b2;
    cursor: pointer;
    margin-right: 20px;
}

.icon-perfil:hover,
.icon-lupa:hover {
    color: #f4a456; /* Cor laranja para hover */
}




/*aplicando efeito hover na barra- passar o mouse e ficar laranja*/
nav a:hover{
    color:#f4a456;
}


/*ajustando o tamanho dos ícones da barra*/
.icon {
    font-size: 30px; /* Ajuste conforme necessário */
}

.banner-main{
    position: relative;
}

.banner {
    width: 100%;
}


.banner-txt{
    position: absolute;
    width: 600px;
    top: 50%;
    transform: translateY(-50%);
    left: 190px;
}


.inicia {
    font-size: 32px;
    left: 200px;
    top: 135px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    color: #003f5c;
}

.inicia1 {
    font-size: 60px;
    left: 195px;
    top: 215px;
    font-family: sans-serif;
    font-weight: bold;
    color: #003f5c;
}

.inicia3 {
    font-size: 35px;
    left: 195px;
    top: 250px;
    font-family: sans-serif;
    color: #003f5c;
}

.banner-botao {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color:#f29434;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.banner-botao:hover {
   background-color: #ff7b00;
}



.bnf1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.bnf-txts {
    text-align: center;
}

.bnf-txt1 {
    font-size: 50px;
    font-family: sans-serif;
    color:#003f5c;
    display: flex; 
    justify-content: center;
}

.bnf-txt2 {
    font-size: 25px;
    color: #f29434;
    margin-top: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: justify;
    display: flex;
    justify-content: center;
}





.bnf2 {
    display: flex;
    justify-content: center; /* Centraliza os itens no container */
    gap: 45px; /* Define a distância entre os retângulos */
    margin: 60px;
    }
    
.conjunto-bnf {
    width: 260px; /* Mantém a largura dos retângulos */
    padding: 20px;
    border-radius: 8px;
    background-color:#20b3b383;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    }
    
    .beneficio-titulo {
        font-size: 18px;
        margin-bottom: 10px;
        font-family: sans-serif;
        margin-top: 10px;
    }
    
    .img-beneficios {
        width: 80px;
        margin-top: 15px;
    }


.bnf2-txt {
    font-family: sans-serif;
}




/* ____________________ */


/* Títulos - Carrossel 1 & 2 */
.gridm-carrossel{
    display:grid;
    grid-template-columns: 670px 670px;
    grid-template-rows: 20px 20px;
    column-gap: 500px;
    row-gap: 90px;  
}

.ttl-carrossel{
    text-align: center;
    position: relative;
    font-family:sans-serif;
    margin-top: 20px;
    font-size: 60px;
    left: 600px;
    margin-top: 100px;
    width: 700px;
    color: #003f5c
}
.ttl-carrossel2{
    margin-top:300px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.colorido {
    color: #20b3b2;
}


/* ______________________ */

/* carrossel 1 - Redondo */

.swiper-width {
    margin: 0 auto; /* Centraliza o slider */
    width: 80%; /* Aumenta a largura do slider */
    overflow: hidden;
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
}

.swiper-width .swiper-area {
    max-width: 100%; /* Ajusta a largura máxima */
}

.swiper-width .swiper-area .swiper-container {
    margin: 0 auto; /* Centraliza o container do swiper */
    width: 100%; /* Define a largura para 100% */
    position: relative;
}

.swiper-width .swiper-area .swiper-container .swiper-button-next {
    right: 5%; /* Ajusta a posição do botão próximo */
}

.swiper-width .swiper-area .swiper-container .swiper-button-prev {
    left: 5%; /* Ajusta a posição do botão anterior */
}

.swiper-width .swiper-area .swiper-container .swiper-slide {
    position: relative;
}

.swiper-width .swiper-area .swiper-container .swiper-slide span {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    background: transparent;
    font-size: 20px;
    padding: 20px 0px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img {
    width: 100%;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img a {
    display: block;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img a img {
    width: 100%;
}

.agnd1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-top: 100px;
}

.agnd-txts {
    text-align: center;
}

.agnd-txt1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #003f5c;
    display: flex; 
    justify-content: center;
}

.agnd-txt2 {
    font-size: 25px;
    color: #f29434;
    margin-top: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: justify;
    display: flex;
    justify-content: center;
}



.agnd2 {

    justify-content: center; /* Centraliza o contêiner das imagens */
    width: 100%;
    margin-top: 50px;
}

.agnd-imgs {
    display: flex;
    justify-content: space-between; /* Garante que as imagens fiquem em extremidades opostas */
    width: 100%; /* O contêiner ocupa toda a largura disponível */
    max-width: 1200px; /* Limite a largura máxima, se necessário */
    padding: 0 50px; /* Espaçamento interno */
    margin-left: 250px;
}

.instrucao-img {
   width: 500px;
}

.telemed-img {
    width: 350px;
    height: 350px;
}

