*{
    margin:0;
    padding:0;
}
.Singup{
    background-image: linear-gradient(178.98deg,  rgba(16, 157, 166, 1),  rgba(23, 180, 181, 0.97), 
    rgba(47, 255, 230, 0.85));
    height: 1080px;
    position: relative;
    overflow: hidden; 
}
.retang-1{
    background: #ffffff;
  border-radius: 75px;
  width: 1088px;
  height: 1080px;
  position: absolute;
  left: 938px;
  top: 0px;
}
.bem-vindo{
    color: #109ea6;
    text-align: left;
    font-family: "Roboto-Regular",sans-serif ;
    font-size:  57px;
    line-height: 64px;
    letter-spacing:  -0.25px;
    font-weight:  400;
    position: absolute;
    left: 1306px;
    top: 179px;
    width: 328px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-text-stroke: 2px #109ea6;
}
.faca-login{
    color: #6b6b6b;
    text-align: left;
    font-family:  "Roboto-Regular", sans-serif;
    font-size:  36px;
    line-height: 44px;
    font-weight: 400;
    position: absolute;
    left: 1196px;
    top: 237px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.Entrar{
    background: linear-gradient(180deg,rgba(240, 114, 74, 1) 0%,
        rgba(255, 163, 79, 1) 100%);;
    border-radius: 15px;
    width: 250px;
    height: 84px;
    position: absolute;
    left: 1322px;
    top: 794px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    align-items: center;
    justify-content: flex-start;
    outline: none;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.e-maild{
    color: #8b8b8b;
    text-align: start;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    left: 1180px;
    top: 480px;
    width: 82px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 465px;
    border: 0;
}
.E-mail{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 423px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.senhad{
    color: #8b8b8b;
    text-align: left;
    font-family: "Roboto-Regular",sans-serif;
    font-size:  24px;
    line-height:  32px;
    font-weight:  400;
    position: absolute;
    left: 1174px;
    top: 619px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #eaeaea;
    border-radius: 15px;
    width: 566px;
    height: 69px;
    position: absolute;
    left: 1154px;
    top: 603px;
    border: 0;
}
.Senha{
    color: #109ea6;
    text-align: left;
    font-family:"Roboto-Regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    position: absolute;
    left: 1174px;
    top: 560px;
    width: 206px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



.logo-singup{
    width: 30.52%;
  height: 36.2%;
  position: absolute;
  right: 59.84%;
  left: 9.64%;
  bottom: 39.17%;
  top: 24.63%;
  overflow: hidden;
}