/*tirar a formatação padrão*/
*{
    margin:0;
    padding:0;
}

body{
    background-color: white;
} 

  
  /* Estilo para o submenu dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 12px;
    position: absolute;
    left: 65px;
  }

  
  
  .dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  /* Mostrar o submenu quando o item de menu é hover */
  .menu ul li:hover .dropdown-content {
    display: block;
  }
  

.barra {
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.466);
}

.menu {
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.menu.desktop {
    display: flex;
}

.menu.mobile {
    display: none;
}

@media screen and (max-width:768px) {
    .menu.desktop {
        display: none;
    }
    
    .menu.mobile {
        display: flex;
    }

    .menu.mobile .logo {
        width: 200px;
    }
}

@media screen and (max-width:360px) {
    .menu-logo-mobile {
        display: none;
        
    }

    .menu-logo-tm {
        display: block;
    }


}

.menu-logo-tm {
    display: none;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

.menu-list-direita {
    display: flex;
    gap: 15px;
}

.hamburguer {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.linha {
    width: 38px;
    height: 7px;
    background-color: #20b3b2;
    border-radius: 100px;

}

.menu-list li {
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.menu-list a {
    color: #20b3b2;
}


/*editando a barra, parte da ul*/
nav ul{
    list-style:none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    position:relative;
}

.icon-perfil {
    font-size: 32px;
    color: #20b3b2;
    cursor: pointer;
}

.icon-lupa {
    font-size: 30px;
    color: #20b3b2;
    cursor: pointer;
}

.icon-perfil:hover,
.icon-lupa:hover {
    color: #f4a456; /* Cor laranja para hover */
}




/*aplicando efeito hover na barra- passar o mouse e ficar laranja*/
nav a:hover{
    color:#f4a456;
}


/*ajustando o tamanho dos ícones da barra*/
.icon {
    font-size: 30px; /* Ajuste conforme necessário */
}

.banner-main{
    position: relative;
}

.banner {
    width: 100%;
}


.banner-txt{
    position: absolute;
    width: 600px;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;
}


.inicia {
    font-size: 32px;
    left: 200px;
    top: 135px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    color: #003f5c;
}

.inicia1 {
    font-size: 60px;
    left: 195px;
    top: 215px;
    font-family: sans-serif;
    font-weight: bold;
    color: #003f5c;
}

.inicia3 {
    font-size: 35px;
    left: 195px;
    top: 250px;
    font-family: sans-serif;
    color: #003f5c;
}

.banner-botao {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color:#f29434;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

.banner-botao:hover {
   background-color: #ff7b00;
}



.bnf1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.bnf-txts {
    text-align: center;
}

.bnf-txt1 {
    font-size: 50px;
    font-family: sans-serif;
    color:#003f5c;
    display: flex; 
    justify-content: center;
}

.bnf-txt2 {
    font-size: 25px;
    color: #f29434;
    margin-top: 15px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}





.bnf2 {
    display: flex;
    justify-content: center; /* Centraliza os itens no container */
    gap: 45px; /* Define a distância entre os retângulos */
    margin: 60px;
    flex-wrap: wrap;
    }
    
.conjunto-bnf {
    width: 260px; /* Mantém a largura dos retângulos */
    padding: 20px;
    border-radius: 8px;
    background-color:#20b3b383;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    }
    
    .beneficio-titulo {
        font-size: 18px;
        margin-bottom: 10px;
        font-family: sans-serif;
        margin-top: 10px;
    }
    
    .img-beneficios {
        width: 80px;
        margin-top: 15px;
    }


.bnf2-txt {
    font-family: sans-serif;
}




/* ____________________ */


/* Títulos - Carrossel 1 & 2 */
.gridm-carrossel{
    display:grid;
    grid-template-columns: 670px 670px;
    grid-template-rows: 20px 20px;
    column-gap: 500px;
    row-gap: 90px;  
}

.ttl-carrossel{
    text-align: center;
    font-family:sans-serif;
    margin-top: 20px;
    font-size: 60px;
    margin-top: 100px;
    color: #003f5c
}
.ttl-carrossel2{
    margin-top:300px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.colorido {
    color: #20b3b2;
}


/* ______________________ */

/* carrossel 1 - Redondo */

.swiper-width {
    margin: 0 auto; /* Centraliza o slider */
    width: 80%; /* Aumenta a largura do slider */
    overflow: hidden;
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
}

.swiper-width .swiper-area {
    max-width: 100%; /* Ajusta a largura máxima */
}

.swiper-width .swiper-area .swiper-container {
    margin: 0 auto; /* Centraliza o container do swiper */
    width: 100%; /* Define a largura para 100% */
    position: relative;
}

.swiper-width .swiper-area .swiper-container .swiper-button-next {
    right: 5%; /* Ajusta a posição do botão próximo */
}

.swiper-width .swiper-area .swiper-container .swiper-button-prev {
    left: 5%; /* Ajusta a posição do botão anterior */
}

.swiper-width .swiper-area .swiper-container .swiper-slide {
    position: relative;
}

.swiper-width .swiper-area .swiper-container .swiper-slide span {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    background: transparent;
    font-size: 20px;
    padding: 20px 0px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img {
    width: 100%;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img a {
    display: block;
}

.swiper-width .swiper-area .swiper-container .swiper-slide img a img {
    width: 100%;
}

.agnd1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-top: 100px;
}

.agnd-txts {
    text-align: center;
}

.agnd-txt1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #003f5c;
    display: flex; 
    justify-content: center;
}

.agnd-txt2 {
    font-size: 25px;
    color: #f29434;
    margin-top: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: justify;
    display: flex;
    justify-content: center;
    text-align: center;
}



.agnd2 {

    justify-content: center; /* Centraliza o contêiner das imagens */
    width: 100%;
    margin-top: 50px;
}

.agnd-imgs {
    display: flex;
    justify-content: space-between; /* Garante que as imagens fiquem em extremidades opostas */
    max-width: 1200px; /* Limite a largura máxima, se necessário */
    padding: 0 50px; /* Espaçamento interno */
    flex-wrap: wrap;
}

.instrucao-img {
   width: 40%;
}

.telemed-img {
    width: 30%;
    height: 30%;
}

@media screen and (max-width:1160px) {
    .agnd-imgs {
        margin: 0; 
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .inicia3 {
        display: none;
    }

    .inicia, .inicia1 {
        font-size: 50px;
    }

    .banner-txt {
        left: 40px;
    }
}

.hamburger-menu-content {
    display: none; /* Esconde por padrão */
    position: absolute;
    top: 55px; /* Ajuste conforme necessário */
    right: 00px; /* Ajuste conforme necessário */
    left: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 10px 20px;
    min-width: 160px;
}

.hamburger-menu-content a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    font-weight: bold;
}

.hamburger-menu-content a:hover {
    color: #f4a456; /* Efeito hover */
}

.logo3 {
    display: none;
}

@media screen and (max-width:500px) {
    .logo {
        display: none;
    }

    .logo3 {
        display: block;
        width: 30%;
    }

    

}

@media screen and (max-width:640px) {
    .inicia, .inicia1 {
        display: none;
    }
}



.profile-dropdown {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 40px; /* Ajuste conforme necessário */
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    min-width: 60px;
    z-index: 1;
    border-radius: 8px;
}

.profile-dropdown a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: 15px
}


