<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadmenu</title>
    <link rel="stylesheet" href="css/menu_prof.css">
    <link rel="stylesheet" href="css/cadastro_prof.css">
    
  </head>

  <body>
    <header><!-- <section class="menu-logo">
                <a href="/index">
                    <img class="logo" src="imagens/logo-bblt.png" alt="Logo InovaCare">
                </a>
            </section>-->
      <nav>
        <a class="logo" href="/"><img src="imagens/logo-extenso.png"></a>
        <section class="mobile-menu">
          <section class="line1"></section>
          <section class="line2"></section>
          <section class="line3"></section>
        </section>
        <ul class="nav-list">
          <li><a href="">Início</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="">Consultas</a></li>
                    <li><a href="">Prontuários</a></li>
                    <li><a href="">Agenda</a></li>
                    <li><a href="">Pagamentos</a></li>
        </ul>
      </nav>
    </header>

    
    <section class="formcad-prof">

        <main id="mainform">
             <h1>Cadastre-se no site</h1><br>
             <p>Bem-vindo a InovaCare!</p>
        </main>
     
        <form id="formcad" action="" method=""><!--Formulário de cadastro do profisisonal-->

           
            <label for="nomeprof">Nome:</label><br><!--campo nome-->
            <input type="text" id="idnomeprof" name="nomeprof" placeholder="Digite seu nome completo" min="5" required><br>

            <label for="dtnasc">Data de Nascimento</label><br> <!--data de nascimento-->
            <input type="date" id="idtnascprof" name="dtnasc" required> <br>

            <label  for="cpfprof">Digite seu CPF</label><br>
            <input type="password" id="idcpfprof" name="cpfprof" maxlength="11" placeholder="CPF"required><br>


            <label for="emailprof">Email</label><br><!--campo email-->
            <input type="email" id="idemailprof" name="emailprof" placeholder="Digite seu E-mail" required><br>

            <label for="especialidadeprof">Selecione sua especialidade</label><!--campo de seleção da especialidade--><br>
                <select id="idespecialidadeprof" name="especialdiadeprof" required>

                    <option value="Clinicogeral" selected >Clínico geral </option>
                    <option value="Fisioterapeuta">Fisioterapeuta</option>
                    <option value="Fonoaudiólogo">Fonoaudiólogo</option>
                    <option value="Nutricionista">Nutricionista</option>
                    <option value="Psicólogo">Psicólogo</option>
                    <option value="Enfermeiro">Enfermeiro</option>

                </select><br><br>



            <label  for="registro">Registro</label><!--CRM--><br>
            <input type="text" id="idregistro" name="registro" placeholder="Digite seu CRM" maxlenght=[6] required ><br>

            <label  for="senhaprof">Crie uma senha forte</label><br>
            <input type="password" id="idsenhaprof" name="senhaprof" min="8" placeholder="Formato Mm12345@"required><br>

            <label for="confirmasenhaprof">Confirme sua senha</label><br>
            <input type="password" id="idcsenhaprof" name="csenhaprof" placeholder="A senha digitada deve ser igual a anterior" required> <br><br><br>
           

            <input type="submit" value="Cadastrar" id="submitformcad">
        
        </form>

    </section>

    <script src="js/nav_prof.js"></script>
 
    
  </body>
</html>
