<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo3.css">
    <link rel="stylesheet" href="css/cad_column.css">
    
    <!--viaCep-->
   
    <script src="../js/oculto.js"></script>
   
   
    <script src="https://kit.fontawesome.com/db9bc09a1d.js" crossorigin="anonymous"></script>
   
    <title>Cadastro0 2</title>
</head>
<body>
 
    <!--Bloco de EJS para mensagens de erro-->
 
   
 
    <!--Fim do bloco de EJS-->
 
    <section class="container"><!--Container geral -->
 
 
        <section class="content first-content"> <!--Primeiro container- Descrição da esquerda-->
 
            <section class="first-column"><!--Primeira coluna - Coluna da esquerda-->
 
                <h2 class="title title-primary" >faça parte da equipe inovacare</h2><!--Título-->
                <p class="descricao descricao-primary">Junto-se a nossa equipe de especialistas!</p><!--descrição-->
               
                <button id="voltar" class="btn btn-primeira">Voltar</button>
               
 
            </section><!--Conteúdo colorido-->
 
 
            <!--Editar os links para ficar dentro do HREF-->
            <section class="second-column"><!--Coluna da direita com o cadastro-->


                <h2 class="title title-second" id="titulo">Qual é a sua especialidade?</h2><!--TÍTULO-->
                <p class="descricao descricao-second">Preencha com suas informações</p><!--DESCRIÇÃO-->
             
 
               <form class="form" method="post" action="/sigup_post">
 
                    <section class="select-container">
                        <i class="fa-solid fa-user-md"></i>
                        <select id="idespecialidadeprof" name="especialdiadeprof" required>
                            <option value="" disabled selected hidden>Selecione sua especialidade </option><!--Campo legenda-- sem funçãod e select-->
                            <option value="Clinicogeral">Clínico geral</option>
                            <option value="Fisioterapeuta">Fisioterapeuta</option>
                            <option value="Fonoaudiólogo">Fonoaudiólogo</option>
                            <option value="Nutricionista">Nutricionista</option>
                            <option value="Psicólogo">Psicólogo</option>
                            <option value="Enfermeiro">Enfermeiro</option>
                        </select>
                    </section>

                    <!--Campo para digitar o registro do especialista-- Campo oculto que aparece de acordo com o select-->
                
                    <section id="crm-container" class="registro-container" style="display: none;">
                        <label class="label-input">
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" placeholder="Digite seu CRM" name="crm" id="crm">
                        </label>
                    </section>

                    <section id="crp-container" class="registro-container" style="display: none;">
                        <label class="label-input">
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" placeholder="Digite seu CRP" name="crp" id="crp">
                        </label>
                    </section>

                    <section id="crefito-container" class="registro-container" style="display: none;">
                        <label class="label-input">
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" placeholder="Digite seu CREFITO" name="crefito" id="crefito">
                        </label>
                    </section>

                    <section id="crfa-container" class="registro-container" style="display: none;">
                        <label class="label-input">
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" placeholder="Digite seu CRFA" name="crfa" id="crfa">
                        </label>
                    </section>

                    <section id="coren-container" class="registro-container" style="display: none;">
                        <label class="label-input">
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" placeholder="Digite seu COREN" name="coren" id="coren">
                        </label>
                    </section>

                    <section id="crn-container" class="registro-container" style="display: none;">
                        <label class="label-input">
                            <i class="fa-solid fa-id-card"></i>
                            <input type="text" placeholder="Digite seu CRN" name="crn" id="crn">
                        </label>
                    </section>
 
                    <button type="submit" class="btn btn-segunda">Entrar</button>
 
                 
 
 
                </form>
            </section><!--Fim da coluna da direita CADASTRO-->
 
 
 
 
        </section>
 
 
 
       
    </section>
   
</body>
</html>