<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo3.css">
    <link rel="stylesheet" href="css/cad_column.css">
    
    <!--viaCep-->
    <script src="js/mascaraCep.js"></script>
    <script src="js/viaCep.js"></script>
   
   
    <script src="https://kit.fontawesome.com/db9bc09a1d.js" crossorigin="anonymous"></script>
   
    <title>Cadastro0 2</title>
</head>
<body>
 
    <!--Bloco de EJS para mensagens de erro-->
 
   
 
    <!--Fim do bloco de EJS-->
 
    <section class="container"><!--Container geral -->
 
 
        <section class="content first-content"> <!--Primeiro container- Descrição da esquerda-->
 
            <section class="first-column"><!--Primeira coluna - Coluna da esquerda-->
 
                <h2 class="title title-primary">Preencha suas <br> informações de endereço</h2><!--Título-->
                <p class="descricao descricao-primary">Essas informações são utilizadas para a configuração <br> do atendimento domiciliar</p><!--descrição-->
               
                <button id="voltar" class="btn btn-primeira">Voltar</button>
               
 
            </section><!--Conteúdo colorido-->
 
 
            <!--Editar os links para ficar dentro do HREF-->
            <section class="second-column"><!--Coluna da direita com o cadastro-->
             
 
                <form class="form form-address" method="post" action="/cadastro_localizacao_validacao">
 
                    <!-- Primeira linha - CEP e Endereço -->
                    <section class="row"><!--Classe row CSS3 para deixar um do lado do outro-->
 
                        <label class="label-input" for="cep">
 
                            <i class="fa-regular fa-user icon-modify"></i>
                            <input type="text" id="cep" placeholder="CEP" name="cep"  onblur="pesquisacep(this.value);" onkeyup="mascaraCep(event)" required>
                            
                        </label>
                       
                        <label class="label-input" for="endereco">
 
                            <i class="fa-regular fa-id-card icon-modify"></i>
                            <input type="text" id="endereco" placeholder="Endereço" name="endereco"   readonly >
                            
 
                        </label>
 
                    </section>
   
                    <!-- Segunda linha - Bairro e Cidade -->
                    <section class="row">
 
                        <label class="label-input" for="bairro">
 
                            <i class="fa-regular fa-calendar icon-modify"></i>
                            <input type="text" id="bairro" placeholder="Bairro" name="bairro"   readonly>
                            
 
                        </label>
                       
                        <label class="label-input" for="cidade">
 
                            <i class="fa-regular fa-calendar icon-modify"></i>
                            <input type="text" id="cidade" placeholder="Cidade" name="cidade"   readonly>
                            
 
                        </label>
 
                    </section>
 
   
                    <!-- Terceira linha - Número e UF -->
                    <section class="row">
 
                        <label class="label-input" for="numero">
 
                            <i class="fa-regular fa-calendar icon-modify"></i>
                            <input type="text" id="numero" placeholder="Número" name="numero"  required>
                            
 
                        </label>
                       
                        <label class="label-input" for="uf">
 
                            <i class="fa-regular fa-calendar icon-modify"></i>
                            <input type="text" id="uf" placeholder="UF" name="uf"   readonly>
                            
 
                        </label>
 
                    </section>
   
                    <!-- Quarta linha - Complemento (Vai ocupar toda a linha class full-width) -->
                    <section class="row">
 
                        <label class="label-input full-width" for="complemento">
 
                            <i class="fa-regular fa-calendar icon-modify"></i>
                            <input type="text" id="complemento" placeholder="Complemento" name="complemento" >
                            
                        </label>
 
                    </section>
 
                   
                       
                    <button type="submit" class="btn btn-segunda">Avançar</button>
                   
                   
                </form>
            </section><!--Fim da coluna da direita CADASTRO-->
 
 
 
 
        </section>
 
 
 
       
    </section>
   
</body>
</html>