<!-- TELA DO USUÁRIO LOGADO!!! -->


<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InovaCare</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/carrossel.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="css/barranav.css">
  <link rel="stylesheet" href="css/footer.css">

  <!-- Simple Notify -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify/dist/simple-notify.min.js"></script>
    <script src="js/notify-script.js"></script><!--JS do Simple Notify criado por mim-->





</head>

<body>


  
  

  <header>

        <!--barra de navegação - início -->
        <nav class="menu-desktop">

            <!--Espaço para a logo-->
            <section class="menu-logo">
                <a href="/logado-user-pac">
                    <img class="logo logo-desktop" src="imagens/logo-bblt.png" alt="Logo InovaCare">
                    <img class="logo logo-tablet" src="imagens/logo-extenso.png" alt="Logo InovaCare">
                    <img class="logo logo-mobile" src="imagens/logo-borboleta.png" alt="Logo InovaCare">
                </a>
            </section>

            <!--Botão de pesquisa-->
            <ul class="menu-list">
                <li class="dropdown">
                    <a class="sobre" href="#">Sobre</a>
                    <section class="dropdown-content">
                        <a href="#">Quem somos</a>
                        <a href="#">Contato</a>
                        <a href="#">FAQ</a>
                    </section>
                </li>
                <li><a class="agendamento" href="/especialidades">Agendamento</a></li>
                <li><a class="consultas" href="/consultas">Área de Consultas</a></li>
            </ul>


            <ul class="menu-list-direita">
                <li><a href="/perfil" class="icon-perfil" aria-label="Perfil"><i class="bi bi-person-circle"></i></a></li>
                <li class="dropdown">
                    <button class="icon-perfil" aria-label="Menu"><i class="bi bi-three-dots-vertical"></i></button>
                    <section class="dropdown-content">
                        <a href="/sair" class="btn-sair">Sair</a>
                    </section>
                </li>
            </ul>

        </nav>

        <nav class="mobile-menu">
            <section class="menu-logo">
                <a href="/logado-user-pac">
                    <img class="logo logo-desktop" src="imagens/logo-bblt.png" alt="Logo InovaCare">
                    <img class="logo logo-tablet" src="imagens/logo-extenso.png" alt="Logo InovaCare">
                    <img class="logo logo-mobile" src="imagens/logo-borboleta.png" alt="Logo InovaCare">
                </a>
            </section>

            <ul class="menu-actions">
                <li><a href="/perfil" class="icon-perfil" aria-label="Perfil"><i class="bi bi-person-circle"></i></a></li>
                <li class="dropdown">
                    <button class="icon-perfil" aria-label="Menu"><i class="bi bi-three-dots-vertical"></i></button>
                    <ul class="dropdown-content">
                        <li><a href="/sair" class="btn-sair-mobile">Sair</a></li>
                    </ul>
                </li>
                <li><button class="hamburguer" onclick="toggleMenu()" aria-label="Menu"></button></li>
            </ul>

            <!-- Menu suspenso do hambúrguer -->
            <ul id="hamburger-menu" class="hamburger-menu-content">
                <li class="dropdown">
                    <a href="#">Sobre</a>
                    <ul class="dropdown-content">
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>
                <li><a href="/especialidades">Agendamento</a></li>
                <li><a href="/consultas">Área de Consultas</a></li>
            </ul>
        </nav>

        <script>
            function toggleMenu() {
                const menu = document.getElementById("hamburger-menu");
                menu.style.display = menu.style.display === "block" ? "none" : "block";
            }
        </script>


        <!--barra de navegação - fim ^^^ -->

  </header>

  <main>

    <section class="banner">
      <section class="img-banner">
        <img src="imagens/rayssa.png" alt="">
      </section>
      <section class="banner-tablet">
        <img src="imagens/tablet.png" alt="">
      </section>

      <a href="/especialidades" class="banner-btn">Agendar agora</a>

    </section>

    <section class="banner-mobile">
      <section class="img-banner-mobile">
        <img src="imagens/mobile.png" alt="">
      </section>
      <a href="/especialidades" class="btn-mobile">Agendar agora</a>
    </section>


    <%if(autenticado.autenticado != null){
    if(login == 1){%>
    <script>
      ShowNotify("Login efetuado com sucesso",
        "Olá <%= autenticado.autenticado %>", "success", "center")
      

    </script>

    <% } %>

    <span>Olá <%= autenticado.autenticado %>!</span><br>
    <p> <a href= "/sair">sair</a></p>

    <% }else{ %>
    <span>Olá visitante!</span>}
    
  <% } %>




    <section class="servicos">
      <section class="ttl-servicos">
        <h2>CONHEÇA NOSSOS SERVIÇOS</h2>
      </section>

      <section class="all-conjuntos">

        <section class="conjunto-servicos">
          <img src="imagens/clinico-geral.png" alt="" srcset="">
          <p>CLÍNICO GERAL</p>
        </section>

        <section class="conjunto-servicos">
          <img src="imagens/fisio.png" alt="" srcset="">
          <p>FISIOTERAPEUTA</p>
        </section>

        <section class="conjunto-servicos">
          <img src="imagens/fono.png" alt="" srcset="">
          <p>FONOAUDIÓLOGO</p>
        </section>

        <section class="conjunto-servicos">
          <img src="imagens/nutri.png" alt="" srcset="">
          <p>NUTRICIONISTA</p>
        </section>

        <section class="conjunto-servicos">
          <img src="imagens/psico.png" alt="" srcset="">
          <p>PSICÓLOGO</p>
        </section>

        <section class="conjunto-servicos">
          <img src="imagens/enfermeiro.png" alt="" srcset="">
          <p>ENFERMEIRO</p>
        </section>

        <section class="conjunto-servicos">
          <img src="imagens/terapeuta.png" alt="" srcset="">
          <p>TERAPEUTA OCUPACIONAL</p>
        </section>

      </section>

    </section>



  <footer class="footer">

    <section class="footer-logo">
      <img class="footer-logo-desktop" src="imagens/logo-bblt.png" alt="Logo da Empresa">
      <img class="footer-logo-mobile" src="imagens/logo-extenso.png" alt="Logo da Empresa">
      <p class="footer-comentario">Oferecemos atendimento médico e terapêutico através das modalidades do
        atendimento online e domiciliar. Nosso objetivo é promover o acesso aos mais diversos serviços de saúde.
      </p>
    </section>

    <section class="footer-links">
      <h3 class="ttl-links">Explorar</h3>
      <ul class="links">
        <li><a href="#">Quem somos</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="/especialidades">Especialidades</a></li>
        <li><a href="/consultas">Consultas</a></li>
      </ul>
    </section>

    <section class="footer-contato">
      <h3 class="ttl-contato">Contato</h3>
      <p class="nmr-contato">(11) 4002-8922</p>
    </section>

  </footer>


</body>

</html>