<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
   <link rel="stylesheet" href="css/menu_prof.css">
    <link rel="stylesheet" href="css/cadastro_prof.css">
    
  </head>

  <body>
 
    <header><!--Barra de Navegação-->
      <nav>
        <a class="logo" href="/"><img src="imagens/logo-extenso.png"></a>
        <section class="mobile-menu">
          <section class="line1"></section>
          <section class="line2"></section>
          <section class="line3"></section>
        </section>
        <ul class="nav-list">
          <li><a href="">Início</a></li>
                    <li><a href="">Perfil</a></li>
                    <li><a href="">Consultas</a></li>
                    <li><a href="">Prontuários</a></li>
                    <li><a href="">Agenda</a></li>
                    <li><a href="">Pagamentos</a></li>
        </ul>
      </nav>
    </header>
    <main><script src="js/nav_prof.js"></script></main> <!--Link para o JS do Menu!!!!!-->



    <section class="formcad-prof"><!--Formulário de login do profissional-->

        <main id="mainform">
             <h1>Faça login para continuar!</h1><br>
             <p>Bem-vindo de volta!</p>
        </main>
     
        <form id="formcad" action="" method=""><!--Formulário de login do profissional do profisisonal-->

           

            <label for="emailprof">Email</label><br><!--campo email-->
            <input type="email" id="idemailprof" name="emailprof" placeholder="E-mail" required><br>

            <label  for="senhaprof">Digite sua senha</label><br>
            <input type="password" id="idsenhaprof" name="senhaprof" min="8" placeholder="Senha"required><br>

            <input type="submit" value="Entrar" id="submitformcad">
        
        </form><!--Fim do formd e login do profissional-->

    </section>





    
    
  </body>
</html>
