<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuários e Receitas</title>
    <link rel="stylesheet" href="css/prontuario.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/barranav.css">
</head>

<body>

    <header>
        <!--barra de navegação - início -->
        <nav class="menu-desktop">

            <!--Espaço para a logo-->
            <section class="menu-logo">
                <a href="/homepro">
                    <img class="logo logo-desktop" src="/imagens/logo-bblt.png" alt="Logo InovaCare">
                    <img class="logo logo-tablet" src="/imagens/logo-extenso.png" alt="Logo InovaCare">
                    <img class="logo logo-mobile" src="/imagens/logo-borboleta.png" alt="Logo InovaCare">
                </a>
            </section>

            <!--Menu profissional-->
            <ul class="menu-list">
                <li><a class="agenda" href="/profissional/home_agenda_prof">Minha Agenda</a></li>
                <li><a class="consultas" href="/consultas">Consultas</a></li>
                <li><a class="pacientes" href="/pacientes">Pacientes</a></li>
            </ul>


            <ul class="menu-list-direita">
                <li><a href="/perfil/prof" class="icon-perfil" aria-label="Perfil"><i
                            class="bi bi-person-circle"></i></a></li>
                <li class="dropdown">
                    <button class="icon-perfil" aria-label="Menu"><i class="bi bi-three-dots-vertical"></i></button>
                    <section class="dropdown-content">
                        <a href="/sair" class="btn-sair">Sair</a>
                    </section>
                </li>
            </ul>

        </nav>

        <nav class="mobile-menu">
            <section class="menu-logo">
                <a href="/homepro">
                    <img class="logo logo-desktop" src="imagens/logo-bblt.png" alt="Logo InovaCare">
                    <img class="logo logo-tablet" src="imagens/logo-extenso.png" alt="Logo InovaCare">
                    <img class="logo logo-mobile" src="imagens/logo-borboleta.png" alt="Logo InovaCare">
                </a>
            </section>

            <ul class="menu-actions">
                <li><a href="/perfil/prof" class="icon-perfil" aria-label="Perfil"><i
                            class="bi bi-person-circle"></i></a></li>
                <li><button class="hamburguer" onclick="toggleMenu()" aria-label="Menu"></button></li>
            </ul>

            <!-- Menu suspenso do hambúrguer -->
            <ul id="hamburger-menu" class="hamburger-menu-content">
                <li><a href="/profissional/home_agenda_prof">Minha Agenda</a></li>
                <li><a href="/consultas">Consultas</a></li>
                <li><a href="/pacientes">Pacientes</a></li>
                <li><a href="/sair" class="btn-sair-mobile">Sair</a></li>
            </ul>
        </nav>

        <script>
            function toggleMenu() {
                const menu = document.getElementById("hamburger-menu");
                menu.style.display = menu.style.display === "block" ? "none" : "block";
            }
        </script>
    </header>

        <main>

            
    
    <section class="cabecalho">
        <button class="back-btn">←</button>
        <h1>Prontuários e receitas</h1>
    </section>

    <section class="info-card">
        <section class="patient-info">
            <img src="/imagens/user.png" alt="Paciente">
            <section class="text-info">
                <p><strong>Paciente:</strong> Amélia Viana Peixoto</p>
                <p><strong>Idade:</strong> 25 anos</p>
                <p><strong>Sexo:</strong> Feminino</p>
                <p><strong>Doenças Crônicas:</strong> Nenhuma</p>
                <p><strong>Alergias:</strong> Nenhuma</p>
            </section>
        </section>

        <section class="appointment-info">
            <p><strong>Modalidade:</strong> Online</p>
            <p><strong>Data:</strong> 05/04/2025</p>
            <p><strong>Horário:</strong> 15:45</p>
            <p><strong>Uso regular de medicamentos:</strong> Não</p>
            <p><strong>Procedimentos cirúrgicos realizados anteriormente:</strong> Não</p>
        </section>
    </section>

    <section class="buttons">
        <a href="/novo-prontuario">
            <button class="btn azul">
                Gerar Novo Prontuário
            </button>
        </a>
        <a href="/receita">
            <button class="btn laranja">Anexar Receita Médica</button>
        </a>
        <a href="/novo-exame">
            <button class="btn laranja">Anexar pedido de exame</button>
        </a>
    </section>

    </main>
    <footer class="footer">

        <section class="footer-logo">
            <img class="footer-logo-desktop" src="/imagens/logo-bblt.png" alt="Logo da Empresa">
            <img class="footer-logo-mobile" src="/imagens/logo-extenso.png" alt="Logo da Empresa">
            <p class="footer-comentario">Oferecemos atendimento médico e terapêutico através das modalidades do
                atendimento online e domiciliar. Nosso objetivo é promover o acesso aos mais diversos serviços de
                saúde.
            </p>
        </section>

        <section class="footer-links">
            <h3 class="ttl-links">Explorar</h3>
            <ul class="links">
                <li><a href="#">Quem somos</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="/especialidades">Especialidades</a></li>
                <li><a href="/consultas">Consultas</a></li>
            </ul>
        </section>

        <section class="footer-contato">
            <h3 class="ttl-contato">Contato</h3>
            <p class="nmr-contato">(11) 4002-8922</p>
        </section>

    </footer>
</body>

</html>