<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuários e Receitas</title>
    <link rel="stylesheet" href="css/prontuario.css">
</head>

<body>
    <section class="header">
        <button class="back-btn">←</button>
        <h1>Prontuários e receitas</h1>
    </section>

    <section class="info-card">
        <section class="patient-info">
            <img src="/imagens/user.png" alt="Paciente">
            <section class="text-info">
                <p><strong>Paciente:</strong> Amélia Viana Peixoto</p>
                <p><strong>Idade:</strong> 25 anos</p>
                <p><strong>Sexo:</strong> Feminino</p>
                <p><strong>Doenças Crônicas:</strong> Nenhuma</p>
                <p><strong>Alergias:</strong> Nenhuma</p>
            </section>
        </section>

        <section class="appointment-info">
            <p><strong>Modalidade:</strong> Online</p>
            <p><strong>Data:</strong> 05/04/2025</p>
            <p><strong>Horário:</strong> 15:45</p>
            <p><strong>Uso regular de medicamentos:</strong> Não</p>
            <p><strong>Procedimentos cirúrgicos realizados anteriormente:</strong> Não</p>
        </section>
    </section>

    <section class="buttons">
        <a href="/novo-prontuario">
            <button class="btn azul">
                Gerar Novo Prontuário
            </button>
        </a>
        <a href="/receita">
            <button class="btn laranja">Anexar Receita Médica</button>
        </a>
        <a href="/novo-exame">
        <button class="btn laranja">Anexar pedido de exame</button>
        </a>
    </section>
</body>

</html>