<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  

  <title>Área Restrita</title>

  <style>
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #f8f9fa;
      color: #333;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
    }

    h1 {
      font-size: 3rem;
      color: #dc3545; /* vermelho de alerta */
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 1.5rem;
      color: #6c757d; /* cinza mais suave */
      max-width: 600px;
    }

    /* Responsividade */
    @media (max-width: 600px) {
      h1 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.1rem;
      }
    }
  </style>
  
</head>

<body>
  <h1>Acesso Restrito</h1>
  <h3>Você não possui permissão de acesso a esta página!</h3>
</body>
</html>
